@font-face {
    font-family: 'Archangelsk';
    src: url(fonts/ofont.ru_Archangelsk.ttf);
}

body {
    margin: 0;
}

.header {
    background-color: transparent;
    position: sticky;
    top: 20px;
    height: 0;
    z-index: 1000;
}

.header__content {
    display: flex;
    justify-content: space-around;
}

.header__socseti {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

li::marker {
    content: '';
}

.carousel-wrapper__carousel {
    width: 100%;
    overflow: hidden;
}

.carousel__content {
    width: 100%;
    display: flex;
    animation: slide 15s infinite;
}

.carousel__images {
    width: 100%;
}

@keyframes slide {
    0% {
        transform: translateX(0);

    }

    25% {
        transform: translateX(0);
    }

    30% {
        transform: translateX(-100%);
    }

    50% {
        transform: translateX(-100%);
    }

    55% {
        transform: translateX(-200%);
    }

    75% {
        transform: translateX(-200%);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(0);
    }
}

.carousel-wrapper__learn-more {
    clip-path: polygon(10% 0, 100% 0, 100% 83%, 90% 100%, 0 100%, 0 17%);
    width: 624px;
    height: 369px;
    background-color: #F8F200;
    position: absolute;
    bottom: 0;
    left: 53%;
}

.carousel-wrapper {
    position: relative;
}

.learn-more__text {
    color: #000;
    font-size: 62px;
    font-family: Archangelsk;
    margin-left: 70px;
    width: 484px;
    margin-bottom: 25px;
}

.learn-more__button {
    background-color: #000;
    color: #F8F200;
    text-align: center;
    width: 272px;
    height: 78px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    border: none;
    margin-left: 70px;
}

.content__h {
    width: 996px;
    height: 63px;
    margin-top: 70px;
    margin-left: 320px;
    margin-right: 604px;
    color: #000;
    font-family: Archangelsk;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.content__p {
    width: 952px;
    height: 125px;
    margin-top: 25px;
    margin-left: 320px;
    margin-right: 648px;
    color: #52BEDC;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
}

.p__span {
    color: #777;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
}


.images__1 {
    width: 460px;
    height: 196px;
    margin-right: 1140px;
    margin-left: 320px;
    margin-top: 70px;
}

.images__2 {
    width: 460px;
    height: 196px;
    margin-right: 1140px;
    margin-left: 320px;
    margin-top: 32px;
}

.images__3 {
    margin-left: 812px;
    margin-right: 320px;
    width: 788px;
    height: 424px;
    position: absolute;
    top: 1349px;
    /* Я понимаю, что это кошмар, но ты не был онлайн */
}

.spray{
    margin-top: 70px;
    overflow: hidden;
}