body {
    margin: 0;
}

.header {
    background-color: transparent;
    position: sticky;
    top: 20px;
    height: 0;
}

.header__content {
    display: flex;
    justify-content: space-around;
}


.header__socseti {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 0;
}

li::marker {
    content: '';
}

.carousel {
    background-color: gray;
    height: 3000px;
}